#carousel-container {
  z-index: 0;
}

.carousel-image {
  height: 68vh;
  width: 100%;
}

/* .carousel-control-prev-icon {
  display: none;
}

.carousel-control-next-icon {
  display: none;
} */

@media (max-width: 768px) {
  .carousel-image {
    height: 30vh;
  }
}