footer {
  height: 80px;
  width: calc(100vw - 20px);
  border: 1px solid black;
  background-color: white;
  position: relative;
  left: 10px;
}

p, 
.footer-btn  {
  margin: 10px;
  font-family: var(--san-serif);
  letter-spacing: var(--button-letter-spacing);
  font-size: 13px;
  background-color: transparent;
  color: black;
  border: none;
}