.box {
  min-height: 300px;
  width: 50%;
  background-color: white;
  border: 1px solid black;
  position: relative;
  margin: 20px auto;
  padding: 20px;
  overflow: auto;
  top: 10%;
}

.days, 
.hours {
  font-family: var(--tall-straight);
  font-size: 1.1rem;
}

.address {
  font-size: 1.1rem;
}

iframe {
  position: relative;
  left: 20%;
  border: 0;
}

@media (max-width: 786px){
  .box {
    width: 75%;
  }
}