#menu-image {
  height: var(--image-height);
  width: var(--image-width);
}

li {
  list-style: none;
  margin: 10px;
}

.menu-buttons-div {
  border-radius: 0%;
}

#btn-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-btn {
  border-radius: 0;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}