.menu-row {
  width: 45rem;
  /* border-bottom: 1px solid black; */
  display: flex;
  justify-content: center;
}

.menu-items-div {
  width: 35rem;
}

.menu-item-name {
  font-family: var(--tall-straight);
  font-size: 1.1rem;
}

.menu-item-price {
  font-style: oblique;
}

h2 {
  /* border-bottom: 1px solid black; */
  padding: 10px;
  margin: 10px;
}

.menu-item {
  text-align: left;
}

@media (max-width: 768px) {
  .menu-row, 
  .menu-items-div {
    width: 100%;
  }
}