#press-container {
  height: 15rem;
  margin-bottom: 20px;
}

.press-button {
  font-size: 1.5rem;
  background-color: transparent;
  color:black;
  border: 1px solid black;
  border-radius: 0%;
}

.press-button:hover {
  font-size: 1.5rem;
  background-color: black;
  color:white;
  border: 1px solid black;
  border-radius: 0%;
}

@media (max-width: 980px) {
  #press-container {
    height: 30rem;
  }
}