.team-row {
  height: 70vh;
  width: 90%;
  margin: auto;
}

.employee-card {
  text-align: center;
  padding: 2rem;
  margin: auto;
}

.employee-image {
  height: 300px;
  width: 265px;
  margin: auto;
}

.employee-name {
  font-family: var(--tall-straight);
}

.employee-job {
font-size: 16px;  
margin: 0;
}

@media (max-width: 1004px) {
  .team-row {
    height: fit-content;
  }
}