#carousel-container {
  z-index: 0;
}

.carousel-indicators {
  display: none;
}

.carousel-image {
  height: 68vh;
  width: 100%;
}

@media (max-width: 768px) {
  .carousel-image {
    height: 30vh;
  }
}
