.info-card-image {
  height: 44rem;
  width: 28rem;
}

.info-card {
  height: 16rem;
  width: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.card-button {
  border: 1px solid black;
  padding-right: 20px;
  padding-left: 20px
}

.card-button:hover {
  border: 1px solid black;
}

#image-border-top {
  border-top: 20px solid black; 
}

#image-border-bottom {
  border-bottom: 20px solid black; 
}

h2 {
  border-bottom: 1px solid black;
}

@media (max-width: 768px) {
  .info-card-image {
    height: 65vh;
    width: 85vw;
  }

  #image-border-top {
    height: 50vh;
    overflow: hidden;
  }

  #image-border-bottom {
    height: 50vh;
    overflow: hidden;
  }

  .info-card {
    height: 50vh;
    width: 85vw;
  }
}

