#press-container {
  height: 50vh;
  margin-bottom: 20px;
}

.press-button {
  font-family: var(--tall-straight);
  font-size: 1.2rem;
  letter-spacing: 5px;
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  color:black;
  border: 1px solid black;
  border-radius: 0%;
}

.press-row {
  width: 36rem;
}

.press-button:hover {
  background-color: black;
  color:white;
  border: 1px solid black;
}

@media (max-width: 980px) {
  #press-container {
    height: 30rem;
  }
}